n8n/enrichment-workflow.json
{
  "name": "Lead Dashboard - Website Enrichment",
  "nodes": [
    {
      "id": "schedule-daily",
      "name": "Daily Trigger (02:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-leads",
      "name": "Fetch Unaudited Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DASHBOARD_URL }}/api/leads?status=new&limit=50&sort=recent&order=desc",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "if-has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-data",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 0],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "wait-rate-limit",
      "name": "Wait 3s (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, 0],
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      }
    },
    {
      "id": "enrich-lead",
      "name": "Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_URL }}/api/enrich",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "businessId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "if-enrichment-success",
      "name": "Enrichment Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, -100],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-name",
              "name": "businessName",
              "value": "={{ $json.business_name }}",
              "type": "string"
            },
            {
              "id": "assign-score",
              "name": "score",
              "value": "={{ $json.score }}",
              "type": "number"
            },
            {
              "id": "assign-status",
              "name": "status",
              "value": "enriched",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 100],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-error-name",
              "name": "businessId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "assign-error-msg",
              "name": "error",
              "value": "={{ $json.error || $json.message || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "assign-error-status",
              "name": "status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "no-leads",
      "name": "No New Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 200],
      "parameters": {}
    },
    {
      "id": "schedule-weekly",
      "name": "Weekly Trigger (Sunday 03:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "get-stats",
      "name": "Get Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DASHBOARD_URL }}/api/stats",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "if-hot-leads",
      "name": "Has Hot Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-hot",
              "leftValue": "={{ $json.byScoreRange.hot }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "notification-placeholder",
      "name": "Send Notification (placeholder)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 350],
      "parameters": {}
    },
    {
      "id": "no-hot-leads",
      "name": "No Hot Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 500],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Trigger (02:00)": {
      "main": [
        [
          {
            "node": "Fetch Unaudited Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unaudited Leads": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait 3s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s (Rate Limit)": {
      "main": [
        [
          {
            "node": "Enrich Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead": {
      "main": [
        [
          {
            "node": "Enrichment Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment Successful?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger (Sunday 03:00)": {
      "main": [
        [
          {
            "node": "Get Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dashboard Stats": {
      "main": [
        [
          {
            "node": "Has Hot Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Hot Leads?": {
      "main": [
        [
          {
            "node": "Send Notification (placeholder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Hot Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}