n8n/re-enrichment-workflow.json
{
  "name": "Lead Dashboard - Re-Enrichment (90 dagen)",
  "nodes": [
    {
      "id": "schedule-weekly",
      "name": "Weekly Check (Monday 03:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-stale-leads",
      "name": "Fetch Stale Leads (>90 days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DASHBOARD_URL }}/api/leads/stale?days=90&limit=20",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "if-has-stale",
      "name": "Has Stale Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-data",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 0],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "wait-rate-limit",
      "name": "Wait 5s (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, 0],
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      }
    },
    {
      "id": "re-enrich-lead",
      "name": "Re-Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_URL }}/api/enrich",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "businessId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "log-result",
      "name": "Log Re-Enrichment Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 0],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-name",
              "name": "businessName",
              "value": "={{ $json.business_name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "assign-score",
              "name": "newScore",
              "value": "={{ $json.score }}",
              "type": "number"
            },
            {
              "id": "assign-cluster",
              "name": "maturityCluster",
              "value": "={{ $json.maturityCluster || '' }}",
              "type": "string"
            },
            {
              "id": "assign-status",
              "name": "status",
              "value": "={{ $json.success ? 're-enriched' : 'failed' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "no-stale",
      "name": "No Stale Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 200],
      "parameters": {}
    }
  ],
  "connections": {
    "Weekly Check (Monday 03:00)": {
      "main": [
        [
          {
            "node": "Fetch Stale Leads (>90 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stale Leads (>90 days)": {
      "main": [
        [
          {
            "node": "Has Stale Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Stale Leads?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Stale Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait 5s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Rate Limit)": {
      "main": [
        [
          {
            "node": "Re-Enrich Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-Enrich Lead": {
      "main": [
        [
          {
            "node": "Log Re-Enrichment Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Re-Enrichment Result": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
